<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <run_as_root_product_feed>
            <general>
                <cron_schedule>0 */2 * * *</cron_schedule>
            </general>
        </run_as_root_product_feed>
    </default>
</config>
