<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="run_as_root" translate="label" sortOrder="9999">
            <label>run_as_root</label>
        </tab>
        <section id="run_as_root_product_feed" translate="label" type="text" sortOrder="3" showInStore="1" showInDefault="1" showInWebsite="1">
            <label>Product Feed Exporter</label>
            <tab>run_as_root</tab>
            <resource>RunAsRoot_GoogleTagManager::config</resource>
            <group id="general" translate="label" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>General</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInStore="1"
                       showInWebsite="1">
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <label>Enable</label>
                </field>
                <field id="cron_schedule"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInStore="1"
                       showInWebsite="1"
                       canRestore="1">
                    <label>Cron Schedule</label>
                    <comment>By default cron will run every 15 minutes.</comment>
                    <source_model>RunAsRoot\Feed\SourceModel\FrequencySourceModel</source_model>
                    <depends>
                        <field id="run_as_root_product_feed/general/enabled">1</field>
                    </depends>
                </field>
                <field id="category_whitelist"
                       translate="label"
                       type="multiselect"
                       sortOrder="1"
                       showInDefault="1"
                       showInStore="1"
                       showInWebsite="1"
                       canRestore="1">
                    <depends>
                        <field id="run_as_root_product_feed/general/enabled">1</field>
                    </depends>
                    <label>Category Whitelist</label>
                    <comment>Only selected categories will be included in feed generation.</comment>
                    <source_model>RunAsRoot\Feed\SourceModel\CategoriesSourceModel</source_model>
                </field>
                <field id="category_blacklist"
                       translate="label"
                       type="multiselect"
                       sortOrder="1"
                       showInDefault="1"
                       showInStore="1"
                       showInWebsite="1"
                       canRestore="1">
                    <depends>
                        <field id="run_as_root_product_feed/general/enabled">1</field>
                    </depends>
                    <label>Category Blacklist</label>
                    <comment>Selected categories will be excluded from feed generation. Blacklist has higher priority than whitelist</comment>
                    <source_model>RunAsRoot\Feed\SourceModel\CategoriesSourceModel</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
